/* 
* index header styles 
*/
.index_header {
	color: blue;
	margin-top: 50px;
	text-decoration: capitalize;
}

.logo {
	width: 150px;
	height: 100px;
}

/*
* body styles 
*/
.json_file_list {
	color: gold;
	margin-top: 100px;
}

.file_list {
	display: block;
	cursor: pointer;
	margin-top: 5px;
	border: 1px solid gold;
	color: blue;
	font-style: italic;
}

.brick {
	color: saddlebrown;
}

.sub_title {
	color: gray;
	border: 1px solid gold;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	text-align: center;
	height: auto;
}

.file_box {
	padding-left: 20px;
}

.copyright {
	text-align: center;
}

.upload_json {
	margin-top: 10px;
	margin-bottom: 10px;
}

.search {
	margin-left: 6px;
	margin-right: 0px;
	margin-top: 10px;
	width: 95%;
	text-align: center;
}

th {
	font-weight: normal;
	font-family: "Times New Roman";
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

td {
	font-weight: normal;
	font-family: "Times New Roman";
	font-size: 14px;
	padding: 10px;
	text-align: center;
}

.button {
	color: blue;
	border: solid 2px yellow;
	margin-top: 10px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 25px;
}

.file_to {
	display: block;
	padding-top: 5px;
}


/* 
* file upload section 
*/
.button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 25px;
}

.dragover {
	border: 5px dashed blue;
}


/* 
* angularjs powered styles 
*/
input.ng-invalid {
	background-color: red;
}

input.ng-valid {
	background-color: lightblue;
}


/* 
* modal styles 
*/
.error_modal {
	margin-right: 25%;
	margin-top: 25%;
	margin-bottom: 25%;
	margin-left: 25%;
}

.modal.ng-enter {
	transition: opacity .5s ease-out;
	opacity: 0;
}

.modal.ng-enter.ng-enter-active {
	opacity: 1;
}

.modal.ng-leave {
	transition: opacity .5s ease-out;
	opacity: 1;
}

.modal.ng-leave.ng-leave-active {
	opacity: 0;
}


/* 
* footer styles
*/
.footer {
	margin-top: auto;
}